* {
    box-sizing: border-box;
    user-select: none;
    font-family: "TT Norms";
}

a {
    color: #ffe000;
    text-decoration: none;
}


html, body{
    height: 100%;
}

body {
    margin: 0px;
    background-color: #54cfff;
    color: #ffe000;
}


/* HEADER */

header {
    display: grid;
    grid-template-columns: auto auto;
    gap: 48px;
    background-color: #000000a0;
    height: 128px;
    align-items: center;
    justify-content: stretch;
    border-width: 1px;
    border-color: #00000044;
    border-style: solid;
    box-shadow: 0px 4px 12px 0px #00000088;
}

header > * {
    display: grid;
    border-radius: 12px;
    align-items: center;
}


header > .title {
    margin-left: 32px;
    justify-self: start;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

header > .search {
    padding-left: 24px;
    font-size: 20px;
    font-weight: 500;
    margin-right: 32px;
    background-color: #000000a0;
    width: 100%;
    min-width: 256px;
    max-width: 512px;
    height: 48px;
    justify-self: end;
    border-width: 1px;
    border-color: #00000044;
    border-style: solid;
}


/* FOOTER */

footer {
    display: grid;
    grid-template-columns: auto;
    gap: 48px;
    background-color: #000000a0;
    height: 128px;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-color: #00000044;
    border-style: solid;
    box-shadow: 0px -2px 12px 0px #00000088;
}
footer > .title {
    margin-left: 32px;
    justify-self: start;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}