{% extends "base.html" %}

{% set style = "quiz"%}

{% block content %}
<main id="main">

    <script type="text/javascript">
        var quiz = JSON.parse('{{ quiz }}'.replaceAll('&#34;', '"'))
        var main = document.getElementById("main")
        var answersShuffled = []
        render("init")
        render("card")

        function shuffle(array) {
            array.sort(() => Math.random() - 0.5);
        }

        function createHeader() {
            let header = document.createElement("div");
            header.setAttribute("class", "quiz-headerInner");
            {
                let title = document.createElement("div")
                title.innerHTML = quiz["title"]
                title.setAttribute("class", "quiz-titleInner")
                header.appendChild(title)
                let img = document.createElement("img");
                img.setAttribute("src", quiz["img_url"]);
                img.setAttribute("class", "quiz-imgInner");
                header.appendChild(img);
                let theory = document.createElement("div");
                theory.innerHTML = quiz["theory"];
                theory.setAttribute("class", "quiz-theoryInner");
                header.appendChild(theory);
            }main.appendChild(header);
        }

        function createBody() {
            let body = document.createElement("div");
            body.setAttribute("class", "quiz-bodyInner");
            body.setAttribute("id", "workspace");
            main.appendChild(body);
        }

        function createCard(card, id) {
            let workspace = document.getElementById("workspace");
            let cardDiv = document.createElement("div");{
                let cardContent = document.createElement("div");
                cardContent.setAttribute("class", "quiz-cardContent");
                if (card["type"] == "a2a"){
                    let action = document.createElement("div");
                    action.setAttribute("name", "action");
                    action.setAttribute("class", "quiz-backgroundInner");
                    action.innerHTML = "Выберите вопрос";
                    cardDiv.appendChild(action);
                    let questions = document.createElement("div");
                    questions.setAttribute("name", "questions");
                    for (let i = 0; i < Object.keys(card["answers"]).length; i++){
                        let question = document.createElement("div");
                        question.setAttribute("class", "quiz-backgroundInner quiz-backgroundInnerAction");
                        question.innerHTML = Object.keys(card["answers"])[i];
                        question.addEventListener("click", match);
                        questions.appendChild(question);
                    }
                    cardContent.appendChild(questions);
                    let answers = [];
                    for (let i = 0; i < Object.keys(card["answers"]).length; i++){
                        let answer = document.createElement("div");
                        answer.setAttribute("class", "quiz-backgroundInner quiz-backgroundInnerAction");
                        answer.innerHTML = Object.values(card["answers"])[i];
                        answer.addEventListener("click", match);
                        answers.push(answer);
                    }
                    shuffle(answers);
                    shuffle(answers);
                    shuffle(answers);
                    for (let i = 0; i < answers.length; i++){
                        answersShuffled.push(answers[i].innerHTML);
                    }
                    let answersDiv = document.createElement("div");
                    answersDiv.setAttribute("name", "answers");
                    for (let i = 0; i < answers.length; i++){
                        answersDiv.appendChild(answers[i]);
                    }
                    cardContent.appendChild(answersDiv);
                } else {
                        let question = document.createElement("div");
                        question.setAttribute("class", "quiz-backgroundInner");
                        question.innerHTML = Object.keys(card["answers"])[0];
                        let answer = document.createElement("div");
                        answer.setAttribute("class", "quiz-backgroundInner");
                        answer.setAttribute("data", card["answers"][question.innerHTML]);
                        answer.addEventListener("click", reveal);
                        answer.style.color = "#ffe00000";
                    cardContent.appendChild(question);
                    cardContent.appendChild(answer);
                }
                cardDiv.appendChild(cardContent);
            }
            cardDiv.setAttribute("class", "quiz-cardInner");
            cardDiv.setAttribute("id", id);
            workspace.appendChild(cardDiv);
        }

        function reveal(event){
            event.target.innerHTML = event.target.getAttribute("data");
            event.target.style.animationDuration = "1.5s";
            event.target.style.animationName = "reveal";
            event.target.style.color = "#ffe000ff";
            event.target.removeEventListener("click", reveal);
        }

        function match(event) {
            if(event.target.parentNode.parentNode.parentNode.querySelector("[name=action]").innerHTML == "Выберите вопрос" && event.target.parentNode == event.target.parentNode.parentNode.querySelector("[name=questions]")) {
                event.target.parentNode.parentNode.parentNode.querySelector("[name=action]").innerHTML = "Выберите ответ"
                event.target.setAttribute("class", event.target.getAttribute("class") + " quiz-backgroundSelected");
            } else if(event.target.parentNode.parentNode.parentNode.querySelector("[name=action]").innerHTML == "Выберите ответ" && event.target.parentNode == event.target.parentNode.parentNode.querySelector("[name=answers]")) {
                event.target.parentNode.parentNode.parentNode.querySelector("[name=action]").innerHTML = "Выберите вопрос"
                if(quiz["questions"][event.target.parentNode.parentNode.parentNode.getAttribute("id")]["answers"][event.target.parentNode.parentNode.getElementsByClassName("quiz-backgroundSelected")[0].innerHTML] == event.target.innerHTML) {
                    event.target.parentNode.parentNode.getElementsByClassName("quiz-backgroundSelected")[0].removeEventListener("click", match);
                    event.target.parentNode.parentNode.getElementsByClassName("quiz-backgroundSelected")[0].setAttribute("class", "quiz-backgroundInner quiz-backgroundTrue");
                    event.target.removeEventListener("click", match);
                    event.target.setAttribute("class", event.target.getAttribute("class") + " quiz-backgroundTrue");
                } else {
                    event.target.parentNode.parentNode.getElementsByClassName("quiz-backgroundSelected")[0].setAttribute("class", "quiz-backgroundInner");
                }
            } else if(event.target.parentNode.parentNode.parentNode.querySelector("[name=action]").innerHTML == "Выберите ответ" && event.target.parentNode == event.target.parentNode.parentNode.querySelector("[name=questions]")) {
                event.target.parentNode.parentNode.parentNode.querySelector("[name=action]").innerHTML = "Выберите вопрос"
                event.target.parentNode.getElementsByClassName("quiz-backgroundInner")[0].setAttribute("class", "quiz-backgroundInner");
            }
        }

        function render(...args) {
            switch (args[0]) {
                case "init":
                    createHeader();
                    createBody();
                    break;
                case "card":
                    for (let i = 0; i < quiz["questions"].length; i++){
                        createCard(quiz["questions"][i], i);
                    }
                    break;
            }
        }
    </script>
</main>
{% endblock %}